build
build-Explicit-serial
build-SGH-cuda
build-kokkos
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
Trilinos
main
.vscode
build-RDH-serial
build-all-serial
lib
single-node/install-kokkos
single-node/build-RDH-serial
