bin
_deps
build
build-Explicit-serial
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
Trilinos
main
.vscode
*.swp
cmake_uninstall.cmake
CTestTestfile.cmake
build-all-openmp
build-all-cuda
build-all-hip
build-explicit-openmp
build-explicit-cuda
build-explicit-hip
build-Explicit-openmp
build-Explicit-cuda
build-Explicit-hip
build-Implicit-openmp
build-Implicit-cuda
build-Implicit-hip
build-implicit-openmp
build-implicit-cuda
build-implicit-hip
build-fierro-openmp
build-fierro-cuda
build-fierro-hip
