bin
_deps
build
build-*
build_*
CMakeFiles
Makefile
CMakeCache.txt
cmake_install.cmake
Trilinos
main
.vscode
*.swp
__pycache__
cmake_uninstall.cmake
CTestTestfile.cmake
install*
apps/multiphysics/*.sh
apps/multiphysics/*.vtu
apps/multiphysics/*.pvd
apps/multiphysics/TrplPnt3D_batch_output
apps/multiphysics/cuda_build
