dev-utils/** linguist-documentation
dev-utils/** linguist-documentation
docs/** linguist-documentation
legacy/** linguist-documentation
app/example_inputs/** linguist-documentation
app/regression_tests/** linguist-documentation
